{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Tracker</title>
    <script
      src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js"
      integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/htmx-ext-response-targets@2.0.4"
      integrity="sha384-T41oglUPvXLGBVyRdZsVRxNWnOOqCynaPubjUVjxhsjFTKrFJGEMm3/0KGmNQ+Pg"
      crossorigin="anonymous"
    ></script>

    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.13.1/font/bootstrap-icons.min.css"
      integrity="sha512-t7Few9xlddEmgd3oKZQahkNI4dS6l80+eGEzFQiqtyVYdvcSG2D3Iub77R20BdotfRPA9caaRkg1tyaJiPmO0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body hx-ext="response-targets">
    {% include 'navbar.html' %} {% block content %} {% endblock %}
    <script src="{% static 'js/main.js' %}"></script>
    <script>
      document.body.addEventListener("htmx:configRequest", (event) => {
        event.detail.headers["X-CSRFToken"] = "{{ csrf_token }}";
      });
      document.body.addEventListener("htmx:confirm", function (evt) {
        // 1. Stop the default browser confirm dialog from opening
        evt.preventDefault();

        // 2. Launch the SweetAlert2 popup
        Swal.fire({
          title: "Are you sure?",
          text: evt.detail.question, // Automatically pulls text from hx-confirm
          // icon: "warning",
          showCancelButton: true,
          confirmButtonText: "Yes, proceed!",
          cancelButtonText: "Cancel",
          // showCloseButton: true,
          toast: true,
          position: "center",
          timer: 15000,
          width: "20rem",
          customClass: {
            title: "!text-lg",
            htmlContainer: "!text-base",
            confirmButton: "!text-base",
            denyButton: "!text-base",
            cancelButton: "!text-base",
          },
        }).then(function (result) {
          // 3. If confirmed, resume the HTMX request
          if (result.isConfirmed) {
            evt.detail.issueRequest(true); // Passing true skips further confirmation loops
          }
        });
      });
    </script>
  </body>
</html>
