<form
  id="book-form"
  class="space-y-5"
  hx-post="{% url 'index' %}"
  hx-target="#tbody"
  hx-swap="afterbegin"
  hx-on::after-request="
if(event.detail.successful){
    this.reset();
    add_book_modal.close();
}"
  hx-indicator="#loading-spinner"
>
  {% if form.non_field_errors %}
  <div class="alert alert-error" id="non-field-errors">
    <ul>
      {% for error in form.non_field_errors %}
      <li>{{error}}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <!--prettier-ignore-->
  {% csrf_token %} 
  {% for field in form %}
  <div class="form-control">
    <label class="label">
      <span class="label-text font-semibold"> {{ field.label }} </span>

      {% if field.field.required %}
      <span class="label-text-alt text-error">*</span>
      {% endif %}
    </label>

    {{ field }} {% if field.help_text %}
    <label class="label">
      <span class="label-text-alt text-base-content/60">
        {{ field.help_text }}
      </span>
    </label>
    {% endif %} {% for error in field.errors %}
    <label class="label">
      <span class="label-text-alt text-error form-error"> {{ error }} </span>
    </label>
    {% endfor %}
  </div>
  {% endfor %}

  <div class="modal-action">
    <button
      type="button"
      class="btn btn-ghost"
      onclick="add_book_modal.close()"
    >
      Cancel
    </button>

    <button type="submit" class="btn btn-success">Save Book</button>
    <span
      id="loading-spinner"
      class="htmx-indicator loading loading-spinner"
    ></span>
  </div>
</form>
